{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<script type="text/javascript" src="{% static 'jquery-3.1.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'modernizr.min.js' %}"></script>

<link href="{% static 'font-awesome-4.7.0/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap-theme.min.css' %}" rel="stylesheet" type="text/css">

<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script> -->
<!-- <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script> -->
<!-- <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css"> -->
<!-- <link href="http://pingendo.github.io/pingendo-bootstrap/themes/default/bootstrap.css" rel="stylesheet" type="text/css"> -->

<script type="text/javascript" src="{% static 'dynatable/jquery.dynatable.js' %}"></script>
<link href="{% static 'dynatable/jquery.dynatable.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{% static 'select2-4.0.3/dist/js/select2.full.min.js' %}"></script>
<link href="{% static 'select2-4.0.3/dist/css/select2.min.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{% static 'jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<link href="{% static 'jquery-ui-1.12.1/jquery-ui.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jquery-ui-1.12.1/jquery-ui.structure.min.css' %}" rel="stylesheet" type="text/css">
<link href="{% static 'jquery-ui-1.12.1/jquery-ui.theme.min.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript" src="{% static 'datetimepicker/jquery-ui-timepicker-addon.min.js' %}"></script>
<script type="text/javascript" src="{% static 'datetimepicker/jquery-ui-sliderAccess.js' %}"></script>
<link href="{% static 'datetimepicker/jquery-ui-timepicker-addon.min.css' %}" rel="stylesheet" type="text/css">

<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">

<script type="text/javascript">
	$(function() {
		$('.select2').select2();
		$('.dynatable').dynatable();
		$('.btn_reload').click(function() {
			location.reload();
		});
		$(".se-pre-con").fadeOut();
		$('.confirm').on('click', function () {
	        return confirm('Anda Yakin?');
	    });
		{% block jquery %}{% endblock %}
	});
	{% block script %}{% endblock %}
</script>
<title>ForcaScale{% block title %}{% endblock %}</title>
</head>
<body>
	<div class="se-pre-con"></div>
	<div class="navbar navbar-default navbar-static-top no-print">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#navbar-ex-collapse">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><span>ForcaScale{% block header %}{% endblock %}</span></a>
			</div>
			<div class="collapse navbar-collapse" id="navbar-ex-collapse">
				<ul class="nav navbar-nav navbar-right">{% block navbar %}{%endblock %}</ul>
			</div>
		</div>
	</div>
	<div class="section">
		<div class="container">{% block container %}{% endblock %}</div>
	</div>
</body>
</html>