{% extends 'base.html' %}
{% load static %}
{% block title %} - Login{% endblock %}
{% block header %} - Login{% endblock %}
{% block script %}
{% if error %}
alert('{{ error }}');
{% endif %}
{% endblock %}
{% block navbar %}
	<!-- li><a href="http://localhost:8000/">Offline</a></li -->
	<li><a href="/admin/">Setting</a></li>
{% endblock %}
{% block container %}
<div class="row">
	<div class="col-md-12">
		<form role="form" method="post" action="{% url 'login' %}">{% csrf_token %}
			<div class="form-group">
				<label class="control-label" for="post_name">Username</label>
				<input required="required" class="form-control" name="post_name" id="post_name"
					placeholder="Username" type="text">
			</div>
			<div class="form-group">
				<label class="control-label" for="post_pass">Password</label>
				<input required="required" class="form-control" name="post_pass" id="post_pass"
					placeholder="Password" type="password">
			</div>
			<div class="form-group">
				<input name="post_role2" id="post_role2"
					placeholder="Role" type="checkbox">
				<label for="post_role2">Select Role</label>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>
{% endblock %}